node-red.subflow.rfbridge.txt
[{"id":"a2b2db96.c60d78","type":"subflow","name":"RFBridge","info":"","category":"","in":[],"out":[{"x":540,"y":80,"wires":[{"id":"9834fafa.c531f8","port":0}]}],"env":[]},{"id":"47a8e08d.b1b4c","type":"mqtt in","z":"a2b2db96.c60d78","name":"RF Bridge","topic":"tele/sonoffbridge/RESULT","qos":"1","datatype":"auto","broker":"21b376a6.cf1b5a","x":100,"y":80,"wires":[["b9e810cd.2ee29"]]},{"id":"9834fafa.c531f8","type":"function","z":"a2b2db96.c60d78","name":"DeMux","func":"var d = { 'FAF3E8':['KeyFobA','ON','false'],\n          '0EF4E8':['KeyFobA','ON','false'],\n          'CAF3E8':['KeyFobA','ON','false'],\n          '18D1A8':['KeyFobA','ON','false'],\n          'FAF3E4':['KeyFobB','ON','false'],\n          '0EF4E4':['KeyFobB','ON','false'],\n          'CAF3E4':['KeyFobB','ON','false'],\n          '18D1A4':['KeyFobB','ON','false'],\n          'FAF3E2':['KeyFobC','ON','false'],\n          '0EF4E2':['KeyFobC','ON','false'],\n          'CAF3E2':['KeyFobC','ON','false'],\n          '18D1A2':['KeyFobC','ON','false'],\n          'FAF3E1':['KeyFobD','ON','false'],\n          '0EF4E1':['KeyFobD','ON','false'],\n          'CAF3E1':['KeyFobD','ON','false'],\n          '18D1A1':['KeyFobD','ON','false'],\n          'F18C7E':['RFSensA','ON','false'],\n          'F0ED1E':['RFSensB','ON','false']\n    }\n\nvar p = msg.payload.RfReceived.Data;\n\nif (p in d) {\n  msg.topic = \"home/\" + d[p][0];\n  msg.payload = d[p][1];\n  msg.retain = d[p][2];\n  msg.qos = 0;\n}\nelse {\n  msg.topic = \"home/unknown\";\n  msg.payload = p;\n  msg.retain = \"false\";\n  msg.qos = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[[]]},{"id":"b9e810cd.2ee29","type":"json","z":"a2b2db96.c60d78","name":"","property":"payload","action":"","pretty":false,"x":250,"y":80,"wires":[["9834fafa.c531f8"]]},{"id":"21b376a6.cf1b5a","type":"mqtt-broker","z":"","name":"MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
