node-red.doorbell.txt
[{"id":"a6acc1d6.baa7a","type":"tab","label":"Doorbell","disabled":false,"info":""},{"id":"682a43b5.7cb66c","type":"mqtt in","z":"a6acc1d6.baa7a","name":"Doorbell","topic":"stat/sonoff-bell/POWER","qos":"1","datatype":"auto","broker":"21b376a6.cf1b5a","x":100,"y":240,"wires":[["f4262c0b.ddca4"]]},{"id":"1dccea2c.9e1b16","type":"telegram sender","z":"a6acc1d6.baa7a","name":"Telegram","bot":"af3a0e30.ad832","x":760,"y":240,"wires":[[]]},{"id":"f4262c0b.ddca4","type":"delay","z":"a6acc1d6.baa7a","name":"Limit 1/30s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":250,"y":240,"wires":[["92fc7c4.ed2838"]]},{"id":"58a882e8.d95c0c","type":"function","z":"a6acc1d6.baa7a","name":"Notification payload","func":"msg.payload = {chatId : 894614093, type : 'photo', content: '/config/camera/doorbell.jpg', caption : 'Someone at the gate!' }\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["1dccea2c.9e1b16"]]},{"id":"92fc7c4.ed2838","type":"api-call-service","z":"a6acc1d6.baa7a","name":"Grab Image","server":"9d2c7c77.4d67a","version":1,"service_domain":"camera","service":"snapshot","entityId":"camera.porch1080p","data":"{\"filename\":\"/config/camera/doorbell.jpg\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":410,"y":240,"wires":[["58a882e8.d95c0c"]]},{"id":"21b376a6.cf1b5a","type":"mqtt-broker","z":"","name":"MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"af3a0e30.ad832","type":"telegram bot","z":"","botname":"brp21b9bot","usernames":"","chatids":"894614093","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"9d2c7c77.4d67a","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]
