node-red.keyfobs.txt
[{"id":"a2b2db96.c60d78","type":"subflow","name":"RFBridge","info":"","category":"","in":[],"out":[{"x":540,"y":80,"wires":[{"id":"9834fafa.c531f8","port":0}]}],"env":[]},{"id":"47a8e08d.b1b4c","type":"mqtt in","z":"a2b2db96.c60d78","name":"RF Bridge","topic":"tele/sonoffbridge/RESULT","qos":"1","datatype":"auto","broker":"21b376a6.cf1b5a","x":100,"y":80,"wires":[["b9e810cd.2ee29"]]},{"id":"9834fafa.c531f8","type":"function","z":"a2b2db96.c60d78","name":"DeMux","func":"var d = { 'FAF3E8':['KeyFobA','ON','false'],\n          '0EF4E8':['KeyFobA','ON','false'],\n          'CAF3E8':['KeyFobA','ON','false'],\n          '18D1A8':['KeyFobA','ON','false'],\n          'FAF3E4':['KeyFobB','ON','false'],\n          '0EF4E4':['KeyFobB','ON','false'],\n          'CAF3E4':['KeyFobB','ON','false'],\n          '18D1A4':['KeyFobB','ON','false'],\n          'FAF3E2':['KeyFobC','ON','false'],\n          '0EF4E2':['KeyFobC','ON','false'],\n          'CAF3E2':['KeyFobC','ON','false'],\n          '18D1A2':['KeyFobC','ON','false'],\n          'FAF3E1':['KeyFobD','ON','false'],\n          '0EF4E1':['KeyFobD','ON','false'],\n          'CAF3E1':['KeyFobD','ON','false'],\n          '18D1A1':['KeyFobD','ON','false'],\n          'F18C7E':['RFSensA','ON','false'],\n          'F0ED1E':['RFSensB','ON','false']\n    }\n\nvar p = msg.payload.RfReceived.Data;\n\nif (p in d) {\n  msg.topic = \"home/\" + d[p][0];\n  msg.payload = d[p][1];\n  msg.retain = d[p][2];\n  msg.qos = 0;\n}\nelse {\n  msg.topic = \"home/unknown\";\n  msg.payload = p;\n  msg.retain = \"false\";\n  msg.qos = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[[]]},{"id":"b9e810cd.2ee29","type":"json","z":"a2b2db96.c60d78","name":"","property":"payload","action":"","pretty":false,"x":250,"y":80,"wires":[["9834fafa.c531f8"]]},{"id":"ce2526fb.c0b358","type":"tab","label":"KeyFobs","disabled":false,"info":""},{"id":"2d93d163.e5a49e","type":"mqtt out","z":"ce2526fb.c0b358","name":"Autogate both sides","topic":"cmnd/sonoff-autogate/POWER1","qos":"1","retain":"false","broker":"21b376a6.cf1b5a","x":480,"y":60,"wires":[]},{"id":"58f12d60.8704f4","type":"mqtt out","z":"ce2526fb.c0b358","name":"Autogate one side","topic":"cmnd/sonoff-autogate/POWER2","qos":"1","retain":"false","broker":"21b376a6.cf1b5a","x":470,"y":160,"wires":[]},{"id":"677a85e2.60b8bc","type":"switch","z":"ce2526fb.c0b358","name":"Keyfob switches","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"home/KeyFobA","vt":"str"},{"t":"eq","v":"home/KeyFobB","vt":"str"},{"t":"eq","v":"home/KeyFobC","vt":"str"},{"t":"eq","v":"home/KeyFobD","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":240,"y":200,"wires":[["2d93d163.e5a49e","e36d82f1.e919e"],["58f12d60.8704f4","e36d82f1.e919e"],["bbbf509b.0e1c7"],[]]},{"id":"5867ecce.d82b74","type":"mqtt out","z":"ce2526fb.c0b358","name":"Porch light","topic":"sonoff-pl/cmnd/POWER","qos":"0","retain":"false","broker":"21b376a6.cf1b5a","x":950,"y":280,"wires":[]},{"id":"ba76c58f.262c58","type":"delay","z":"ce2526fb.c0b358","name":"Limit 1/5min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":610,"y":220,"wires":[["c79adad0.a03be8"]]},{"id":"e36d82f1.e919e","type":"time-range-switch","z":"ce2526fb.c0b358","name":"Night time","lat":"3.2010","lon":"101.459","startTime":"dusk","endTime":"sunrise","startOffset":0,"endOffset":0,"x":440,"y":240,"wires":[["ba76c58f.262c58"],[]]},{"id":"4151cf09.ae923","type":"subflow:a2b2db96.c60d78","z":"ce2526fb.c0b358","name":"","x":70,"y":200,"wires":[["677a85e2.60b8bc"]]},{"id":"bbbf509b.0e1c7","type":"api-current-state","z":"ce2526fb.c0b358","name":"Porch light state","server":"9d2c7c77.4d67a","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoff","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":340,"wires":[["34afff1.12378"],["34afff1.12378"]]},{"id":"34afff1.12378","type":"function","z":"ce2526fb.c0b358","name":"Toggle","func":"if (msg.payload === true){\n        msg.payload = \"off\";\n    }else{\n        msg.payload = \"on\";\n    }\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":380,"wires":[["5867ecce.d82b74"]]},{"id":"c79adad0.a03be8","type":"change","z":"ce2526fb.c0b358","name":"Turn On","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":220,"wires":[["5867ecce.d82b74"]]},{"id":"21b376a6.cf1b5a","type":"mqtt-broker","z":"","name":"MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9d2c7c77.4d67a","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]
